.section-first {
    box-shadow: inset 0px -166px 300px -155px rgba(0,0,0,0.66);
}


.col-6 {
    position: relative;
    border: 1px solid black;
    height: 800px;
}

.chair-img {
    background-image: url("../images/black_chair.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}



span {
    color: #00C29F;
}

h1 {
    font-size: 2.5rem;
    position: absolute;
    margin: 0;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
}

p {
    font-size: 1rem;
    position: absolute;
    margin: 0;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.btn {
    background-color: #00C29F;
    position: absolute;
    margin: 0;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 250px;
}

.arrow1 {
    color: #00C29F;
    font-size: 8rem;
    position: absolute;
    margin: 0;
    top: 50%;
    transform: translate(-20%, -50%);
}

.arrow2 {
    color: #00C29F;
    font-size: 8rem;
    position: absolute;
    margin: 0;
    top: 50%;
    left: 92%;
    transform: translate(-20%, -50%);
}

/*first section ends here*/

.section-second {
    padding: 15px;
    height: 400px;
    padding-top: 15px;
    padding-bottom: 15px;
}


.first-image {
    background-image: url("../images/box1_img.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.second-image {
    background-image: url("../images/box2_img.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.text-image {
    border: 1px solid grey;
    text-align: center;
}

.text-image h2 {
    font-size: 35px;
    display: inline-block;
    border-bottom: 5px solid #00C29F;
    margin-top: 5px;
}

.text-image p {
    margin-top: 30px;
    font-size: 23px;
}

.on-text {
    margin-top: 130px;
    width: 100%;
    padding: 10px;
    display: inline-block;
    font-size: 30px;
    background-color: rgba(255,255,255, 0.5);
    z-index: 5;
}

.thickness {
    color: black;
    border-bottom: 5px solid #00C29F;
}