* {
    font-family: 'Raleway', sans-serif;
    padding: 0;
    margin: 0;
}

header {
    height: 40px;
    color: white;
    width: 100%;
    background-color: black;
}

header h1 {
    font-size: 20px;
    margin-left: 70px;
    line-height: 45px;
    float: left;
}

h1 span {
    color: springgreen;

}

nav {
    margin-right: 150px;
}

nav li {
    line-height: 40px;
    margin-left: 15px;
    float: right;
    list-style-type: none;
    display: inline-block;
}

nav a {
    text-decoration: none;
    color: white;
}

.container {
    height: 700px;
    width: 100%;
    background-color: #ffffff;
    box-shadow: inset -1px -78px 138px -54px rgba(0,0,0,0.75);
}

.medium-box {
    float: right;
    height: 700px;
    width: 50%;
}

.medium-box h1 {
    margin-left: -110px;
    width: 70%;
    text-align: center;
    margin-top: 250px;
    margin-bottom: 30px;
}

.medium-box p {
    width: 70%;
    margin-left: -100px;
    text-align: center;
}
.chair {
    background-image: url("../images/black_chair.png");
    background-repeat: no-repeat;
    background-position: center;
}

.button-see-more {
    border-radius: 28px;
    text-transform: uppercase;
    margin-top: 30px;
    margin-left:85px;
    position: relative;
    color: white;
    width: 250px;
    height: 50px;
    background-color: springgreen;
}

.button-see-more:hover {
    box-shadow: 0 0 15px grey;
    cursor: pointer;
}

.button-see-more a{
    text-decoration: none;
    color: white;
}

.button-see-more span {
    position: absolute;
    vertical-align: center;
    line-height: 50px;
    left: 65px;
}

.clear-fix {
    clear: both;
}
/*.arrow-right {*/
    /*width: 0;*/
    /*height: 0;*/
    /*border-top: 20px solid transparent;*/
    /*border-bottom: 20px solid transparent;*/
    /*border-left: 20px solid springgreen;*/
/*}*/

.small-box {
    float: left;
    width: 31.333%;
    height: 300px;
}

#first-chair {
    position: relative;
    margin: 10px;
    background-image: url("../images/box1_img.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.clair {
    z-index: 5;
    width: 300px;
    border-bottom: 10px solid springgreen;
    display: inline-block;
    position: absolute;
    top: 210px;
    left: 70px;
}


.clair-uppercase {
    text-transform: uppercase;
}

.border {
    z-index: 2;
    bottom: 50px;
    position: absolute;
    width: 500px;
    height: 50px;
    background-color: rgba(255,255,255, 0.4);
}
#second-chair {
    position: relative;
    margin: 10px;
    background-image: url("../images/box2_img.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

#box-content {
    margin-top: 10px;
    border: 1px solid grey;
    text-align: center;
}
#box-content h4 {
    display: inline-block;
    text-decoration-color: springgreen;
    text-align: left;
    margin-top: 30px;
    margin-right: 450px;
    border-bottom: 10px solid springgreen;
}


#box-content p {
    margin-left: 8px;
    margin-right: 8px;
    text-align: justify;
    margin-top: 30px;
}
